body{
margin:0;
background:#f8f5f4;
font-family:"Playpen Sans", cursive;
color:#666;
}
/* MƯợt như thước phim toàn trang ------------------------------ */
html{
  scroll-behavior:smooth;
}

/*  Hình bàn tay ----------------------------------------------------------- */
/* =========================
   OPENING SCREEN
========================= */

#opening-screen{
  position:fixed;
  top:0;
  left:0;

  width:100%;
  height:100vh;

  background:#f8f7f5;

  z-index:99999;

  display:flex;
  justify-content:center;
  align-items:center;

  overflow:hidden;

  transition:opacity 1.2s ease;
}

/* nền paper nhẹ */
#opening-screen::before{
  content:"";

  position:absolute;
  inset:0;

  background:
  radial-gradient(circle at center,
  rgba(255,255,255,0.95),
  rgba(240,240,240,0.95));

}


/* ảnh bàn tay */
.opening-hand{
  width:500px;
  max-width:120vw;

  opacity:.95;
}
@media (max-width:768px){

  .opening-hand{

    position:absolute;

    top: 60px;
    left:50%;

    transform:translateX(-50%);

    width:120vw;
  }

}

/* ngày */
.opening-date{
  position:absolute;

  top:67%;

  left:50%;
  transform:translateX(-50%);

  color:#c8ad93;

  letter-spacing:4px;

  font-size:18px;

  z-index:5;
}

/* tên */
.opening-kor{
  position:absolute;
  width: 100%;
  text-align: center;

  top:73%;

  left:50%;
  transform:translateX(-50%);

  color:#b9b9b9;
  font-family: "Cause", cursive;
  font-style: normal;

  font-size:23px;

  line-height:1.35;

  z-index:5;
}
.hoa{
  color: #8ACCD5;
}
/* Dòng we are getting Married--------------------------- */
.opening-text{
  position:absolute;
  top:83%;
  left:50%;
  transform:translateX(-50%);

  width:100%;
  text-align:center;

  font-size:38px;
  font-family:'Great Vibes', cursive;
  color:#FF90BB;

  letter-spacing:-1px;

  z-index:5;
}

.opening-text span{
  display:inline-block;

  opacity:0;
  transform:translateY(10px);

  margin-right:-3px;

  animation:letterFade 0.6s ease forwards;
}

/* khoảng trắng */
.opening-text .space{
  width:12px;
  margin-right:0;
}

/* delay từng chữ */
.opening-text span:nth-child(1){ animation-delay:0.1s; }
.opening-text span:nth-child(2){ animation-delay:0.2s; }
.opening-text span:nth-child(3){ animation-delay:0.3s; }
.opening-text span:nth-child(4){ animation-delay:0.4s; }
.opening-text span:nth-child(5){ animation-delay:0.5s; }

.opening-text span:nth-child(7){ animation-delay:0.7s; }
.opening-text span:nth-child(8){ animation-delay:0.8s; }
.opening-text span:nth-child(9){ animation-delay:0.9s; }
.opening-text span:nth-child(10){ animation-delay:1s; }
.opening-text span:nth-child(11){ animation-delay:1.1s; }
.opening-text span:nth-child(12){ animation-delay:1.2s; }
.opening-text span:nth-child(13){ animation-delay:1.3s; }

.opening-text span:nth-child(15){ animation-delay:1.5s; }
.opening-text span:nth-child(16){ animation-delay:1.6s; }
.opening-text span:nth-child(17){ animation-delay:1.7s; }
.opening-text span:nth-child(18){ animation-delay:1.8s; }
.opening-text span:nth-child(19){ animation-delay:1.9s; }
.opening-text span:nth-child(20){ animation-delay:2s; }
.opening-text span:nth-child(21){ animation-delay:2.1s; }

@keyframes letterFade{
  from{
    opacity:0;
    transform:translateY(10px);
    filter:blur(4px);
  }

  to{
    opacity:1;
    transform:translateY(0);
    filter:blur(0);
  }
}
/* ================================================== */
/* Hình bàn tay---- */


/* Màu nền cho từng section======================================= */
.mau-nen, .map-section{
  background-color: #F8F8E1;
}








/* Nút nhạc------------------------------------------------------ */
#music-toggle{
  position:fixed;

  top:20px;          /* đưa lên trên */
  left:calc(51% - 210px); 
  /* bám mép phải invitation-wrap */

  width:48px;
  height:48px;

  border:none;
  border-radius:50%;

  background:rgba(255,182,193,0.45);
  color:white;

  font-size:18px;
  z-index:9999;

  box-shadow:0 4px 10px rgba(0,0,0,.15);

  display:flex;
  align-items:center;
  justify-content:center;
}
/* nút nhạc----- */


.invitation-wrap{
max-width:420px;
margin:auto;
background:#fff;
box-shadow:0 0 15px rgba(0,0,0,.05);
}

.section{
padding:55px 30px;
text-align:center;
}


.small-eng{
font-size:20px;
letter-spacing:2px;
color:#FF90BB;
margin-bottom:8px;
}

.section-title{
font-size:22px;
margin-bottom:30px;
color:#555;
font-family:'Great Vibes', cursive;
}

.date-top{
padding-top:20px;
font-size:15px;
letter-spacing:4px;
}

.day-top{
margin-top:8px;
margin-bottom: 40px;
font-size:12px;
letter-spacing:3px;
color:#999;
}

.couple-name{
 font-family:'Great Vibes', cursive;
}

/* Hiệu ứng hoa rơi trong section đầu---------------- */
.hero {
  position: relative;
  overflow: hidden; /* 👈 rất quan trọng */
}

/* canvas chỉ nằm trong hero */
#petal-canvas-hero {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  pointer-events: none;
}
/*Hiệu ứng hoa rơi trong section đầu-- */

/* Hình section đầu------------------------------------------ */
/* ảnh lớn phía trên */
.hero-img{
  width:100%;
  overflow:hidden;
  border:1px solid #dbc5d1;
}

.hero-img img{
  width:100%;
  height:100%;
  border-radius: 15px;
  object-fit:cover;
  display:block;
}


/* Phần lời ngỏ------------------------------------------------ */
.invite-message{
line-height:2.3;
font-size:16px;
}


.parents{
line-height:2;
/* color: #7c6975; */
overflow:hidden; /* mới thêm*/
color: #FF90BB;
font-weight: bold;
}
.anh_co_dau, .anh_chu_re{
width: 150px;
}

/* ảnh chung */
.parents img{
    opacity:0;
    transition:
    transform 1.2s ease,
    opacity 1.2s ease;
    margin-top: 20px;
}


/* cô dâu nằm bên trái ngoài màn hình */
.slide-left{
    transform:translateX(-200px);
}

/* chú rể nằm bên phải ngoài màn hình */
.slide-right{
    transform:translateX(200px);
}

/* khi section xuất hiện */
.parents.show .slide-left,
.parents.show .slide-right{
    opacity:1;
    transform:translateX(0);
}
/* Phần lời ngỏ----- */

/* Ngày cưới============================================== */
 .wedding-day{
  border: 2px solid#FF90BB;
}

.wedding-date-big{
font-size:20px;
color:#7c6975;
}

.calendar{
display:grid;
grid-template-columns:repeat(7,1fr);
grid-row-gap:18px;
margin-top:30px;
}

.week{
font-weight:600;
color:#999;
}


 /* Bo góc trái tim cho ngày cưới */
.active-day{

  position:relative;

  width:38px;
  height:38px;

  margin:auto;

  color:white;

  display:flex;
  justify-content:center;
  align-items:center;

  font-size:15px;
  font-weight:600;

  z-index:2;
}

/* tạo trái tim */
.active-day::before,
.active-day::after{

  content:"";

  position:absolute;

  width:20px;
  height:32px;

  background:#ff2e63;

  border-radius:20px 20px 0 0;
}

/* nửa trái */
.active-day::before{

  left:19px;

  transform:
    rotate(-45deg);

  transform-origin:0 100%;
}

/* nửa phải */
.active-day::after{

  left:0;

  transform:
    rotate(45deg);

  transform-origin:100% 100%;
}

/* số ngày nổi lên trên tim */
.active-day{

  position:relative;
}

.active-day span{

  position:relative;

  z-index:5;
}
/* trái tim đập */
.active-day{

  animation:heartBeat 1.4s ease-in-out infinite;
}

/* hiệu ứng phập phồng */
@keyframes heartBeat{

  0%{
    transform:scale(1);
  }

  15%{
    transform:scale(1.15);
  }

  30%{
    transform:scale(1);
  }

  45%{
    transform:scale(1.12);
  }

  60%{
    transform:scale(1);
  }

  100%{
    transform:scale(1);
  }

}
/* album----------------------------------------------------------------------------------------- */
/* ======================================================
   GALLERY
====================================================== */

/* ảnh lớn */
.gallery-main{
  margin-bottom:25px;
}

.gallery-main img{

  width:100%;
  height:430px;

  object-fit:cover;

  border-radius:0;

  display:block;
}


/* thumbnail */
.gallery-thumb{
  margin:0 -6px;
}

.gallery-thumb .slick-slide{
  padding:0 6px;
}

.gallery-thumb img{

  width:100%;
  height:90px;

  object-fit:cover;

  cursor:pointer;

  opacity:.45;

  transition:.35s ease;
}


/* ảnh active */
.gallery-thumb .slick-current img{

  opacity:1;

  transform:scale(1.02);
}


/* bỏ viền xanh khi click */
.gallery-thumb .slick-slide{
  outline:none;
}

.gallery-thumb .slick-slide div{
  outline:none;
}
/* album. END------------------------- */

/* map------------------------------------------------------------------- */
.map-box{
    width:100%;
    overflow:hidden;
    border-radius:20px;
}

.map-box iframe{
    width:100%;
    height:450px;
    border:0;
    display:block;
}

/* map.END-------------- */


.info-box{
text-align:left;
line-height:2;
margin-top:25px;
}

.info-title{
color:#8ACCD5;
margin-top:20px;
font-weight:600;
}

.info-message{
line-height:2;
margin-bottom:40px;
}

.card{
border-radius:18px !important;
border:1px solid #dbc5d1;
margin-bottom:18px;
overflow:hidden;
}

.card-header{
padding:0;
border:none;
background:#fff;
}

.btn-link{
width:100%;
padding:18px;
color:#866f7d;
text-decoration:none;
}

.btn-link:hover{
text-decoration:none;
color: white;
background-color: #FFC1DA;
}

.card-body{
background:#fcf8fa;
line-height:2;
}
.ngan_hang{
  width: 100px;
}

.footer-space{
height:60px;
}



/* Hiệu ứng cuộn màn hình------------------------------------------------------ */
.section {
  opacity: 0;
  transform: translateY(40px);
  transition: all 0.8s ease;
}

/* khi hiện ra */
.section.show {
  opacity: 1;
  transform: translateY(0);
}


