body{
margin:0;
background:#f8f5f4;
font-family:"Playpen Sans", cursive;
color:#666;
}
/* MƯợt như thước phim toàn trang ------------------------------ */
html{
  scroll-behavior:smooth;
}

/*  Ảnh Bìa trang đầu tiên ----------------------------------------------------------- */
/* =========================
   OPENING SCREEN
========================= */

#opening-screen{
  position:fixed;
  top:0;
  left:0;

  width:100%;
  height:100vh;

  background:#f8f7f5;

  z-index:99999;

  display:flex;
  justify-content:center;
  align-items:center;

  overflow:hidden;

  transition:opacity 1.2s ease;
}

/* nền paper nhẹ */
#opening-screen::before{
  content:"";

  position:absolute;
  inset:0;

  background:
  radial-gradient(circle at center,
  rgba(255,255,255,0.95),
  rgba(240,240,240,0.95));

}


/* ảnh bìa */
.opening-page{
  width:500px;
  max-width:120vw;
  opacity:.95;
   position: relative;
  z-index: 1;
  border: 1px solid #555;
}
@media (max-width: 768px) {

  /* .opening-page {
    width: 100%;
    height: 100vh;
    object-fit: contain;
  } */
   .opening-page{

  width: 100%;
  height: 100vh;

  object-fit: cover;



  display: block;

}
  .opening-inner img{
    border: 1px solid #555;
  }
 

  .envelope {
    transform: scale(0.75); /* thu nhỏ phong bì cho vừa màn hình */
  }

  .thumoi {
    font-size: 14px;
  }

   #opening-screen {
    padding: 14px;
  }

  .opening-inner {
    /* border-radius: 20px; */
    overflow: hidden;
    box-shadow: 0 10px 30px rgba(0,0,0,0.2);
    background: white;
  }



}
/* Phong bì ---------------------------------------------------- */
.envelope-wrapper {
  position: absolute;   /* hoặc fixed nếu muốn luôn cố định màn hình */
  top: 75%;
  left: 50%;
  transform: translate(-50%, -50%);
  
  z-index: 999; /* 👈 quan trọng: nằm trên opening-page */
}
/* Envelope */
.envelope {
  position: relative;
  width: 100px;
  height: 60px;
}

/* Body */
.body {
  position: absolute;
  width: 100%;
  height: 100%;
  background: #fad9d9;
  border-radius: 6px;
  z-index: 1;
}

/* Flap */
.flap {
  font-size: 14px;
  position: absolute;
  width: 0;
  height: 0px;
  border-left: 50px solid transparent;
  border-right: 50px solid transparent;
  border-top: 30px solid #fcb8b8;
  top: 0;
  transform-origin: top;
  transition: transform 0.6s ease;
  z-index: 3;
}

/* Letter */
.letter {
  position: absolute;
  width: 90%;
  height: 90%;
  background: white;
  left: 5%;
  top: 5%;
  border-radius: 5px;
  z-index: 2;
  padding: 15px;
  box-sizing: border-box;
  transform: translateY(10px);
  transition: transform 0.6s ease;
}

.thumoi{
  font-size: 10px;
}
/* OPEN STATE */
.envelope.open .flap {
  transform: rotateX(180deg);
}

.envelope.open .letter {
  transform: translateY(-10px);
}
/* Phong bì--- ------------*/

/* Hình ảnh bìa------------------ */





/* Màu nền cho từng section======================================= */
.mau-nen, .map-section{
  background-color: #F8F8E1;
}








/* Nút nhạc------------------------------------------------------ */
#music-toggle{
  position:fixed;

  top:20px;          /* đưa lên trên */
  left:calc(51% - 210px); 
  /* bám mép phải invitation-wrap */

  width:48px;
  height:48px;

  border:none;
  border-radius:50%;

  background:rgba(255,182,193,0.45);
  color:white;

  font-size:18px;
  z-index:9999;

  box-shadow:0 4px 10px rgba(0,0,0,.15);

  display:flex;
  align-items:center;
  justify-content:center;
}
/* nút nhạc----- */


.invitation-wrap{
max-width:420px;
margin:auto;
background:#fff;
box-shadow:0 0 15px rgba(0,0,0,.05);
}

.section{
padding:55px 30px;
text-align:center;
}


.small-eng{
font-size:20px;
letter-spacing:2px;
color:#FF90BB;
margin-bottom:8px;
}

.section-title{
font-size:22px;
margin-bottom:30px;
color:#555;
font-family:'Great Vibes', cursive;
}

.date-top{
padding-top:20px;
font-size:15px;
letter-spacing:4px;
}

.day-top{
margin-top:8px;
margin-bottom: 40px;
font-size:12px;
letter-spacing:3px;
color:#999;
}

.couple-name{
 font-family:'Great Vibes', cursive;
}

/* Hiệu ứng hoa rơi toàn màn hình---------------- */

#petal-canvas{
  position: fixed;
  inset: 0;

  width: 100%;
  height: 100%;

  pointer-events: none;

  z-index: 999;

  opacity: 0.9;
}

/* để nội dung luôn nằm đúng layer */
.invitation-wrap{
  position: relative;
  z-index: 2;
}

/* mobile đẹp hơn */
@media (max-width:768px){

  #petal-canvas{
    opacity: 0.75;
  }

}
/*Hiệu ứng hoa rơi trong section đầu-- */

/* Hình section đầu------------------------------------------ */
/* ảnh lớn phía trên */
.hero-img{
  width:100%;
  overflow:hidden;
  border:1px solid #dbc5d1;
}

.hero-img img{
  width:100%;
  height:100%;
  object-fit:cover;
  display:block;
}


/* Phần lời ngỏ------------------------------------------------ */
.invite-message{
line-height:2.3;
font-size:16px;
}


.parents{
line-height:2;
/* color: #7c6975; */
overflow:hidden; /* mới thêm*/
color: #FF90BB;
font-weight: bold;
}
.anh_co_dau, .anh_chu_re{
width: 150px;
}

/* ảnh chung */
.parents img{
    opacity:0;
    transition:
    transform 1.2s ease,
    opacity 1.2s ease;
    margin-top: 20px;
}


/* cô dâu nằm bên trái ngoài màn hình */
.slide-left{
    transform:translateX(-200px);
}

/* chú rể nằm bên phải ngoài màn hình */
.slide-right{
    transform:translateX(200px);
}

/* khi section xuất hiện */
.parents.show .slide-left,
.parents.show .slide-right{
    opacity:1;
    transform:translateX(0);
}
/* Phần lời ngỏ----- */

/* Ngày cưới============================================== */
 .wedding-day{
  border: 2px solid#FF90BB;
}

.wedding-date-big{
font-size:20px;
color:#7c6975;
}

.calendar{
display:grid;
grid-template-columns:repeat(7,1fr);
grid-row-gap:18px;
margin-top:30px;
}

.week{
font-weight:600;
color:#999;
}


 /* Bo góc trái tim cho ngày cưới */
.active-day{

  position:relative;

  width:38px;
  height:38px;

  margin:auto;

  color:white;

  display:flex;
  justify-content:center;
  align-items:center;

  font-size:15px;
  font-weight:600;

  z-index:2;
}

/* tạo trái tim */
.active-day::before,
.active-day::after{

  content:"";

  position:absolute;

  width:20px;
  height:32px;

  background:#ff2e63;

  border-radius:20px 20px 0 0;
}

/* nửa trái */
.active-day::before{

  left:19px;

  transform:
    rotate(-45deg);

  transform-origin:0 100%;
}

/* nửa phải */
.active-day::after{

  left:0;

  transform:
    rotate(45deg);

  transform-origin:100% 100%;
}

/* số ngày nổi lên trên tim */
.active-day{

  position:relative;
}

.active-day span{

  position:relative;

  z-index:5;
}
/* trái tim đập */
.active-day{

  animation:heartBeat 1.4s ease-in-out infinite;
}

/* hiệu ứng phập phồng */
@keyframes heartBeat{

  0%{
    transform:scale(1);
  }

  15%{
    transform:scale(1.15);
  }

  30%{
    transform:scale(1);
  }

  45%{
    transform:scale(1.12);
  }

  60%{
    transform:scale(1);
  }

  100%{
    transform:scale(1);
  }

}
/* album----------------------------------------------------------------------------------------- */
/* ======================================================
   GALLERY
====================================================== */

/* ảnh lớn */
.gallery-main{
  margin-bottom:25px;
}

.gallery-main img{

  width:100%;
  height:430px;

  object-fit:cover;

  border-radius:0;

  display:block;
}


/* thumbnail */
.gallery-thumb{
  margin:0 -6px;
}

.gallery-thumb .slick-slide{
  padding:0 6px;
}

.gallery-thumb img{

  width:100%;
  height:90px;

  object-fit:cover;

  cursor:pointer;

  opacity:.45;

  transition:.35s ease;
}


/* ảnh active */
.gallery-thumb .slick-current img{

  opacity:1;

  transform:scale(1.02);
}


/* bỏ viền xanh khi click */
.gallery-thumb .slick-slide{
  outline:none;
}

.gallery-thumb .slick-slide div{
  outline:none;
}
/* album. END------------------------- */

/* map------------------------------------------------------------------- */
.map-box{
    width:100%;
    overflow:hidden;
    border-radius:20px;
}

.map-box iframe{
    width:100%;
    height:450px;
    border:0;
    display:block;
}

/* map.END-------------- */


.info-box{
text-align:left;
line-height:2;
margin-top:25px;
}

.info-title{
color:#8ACCD5;
margin-top:20px;
font-weight:600;
}

.info-message{
line-height:2;
margin-bottom:40px;
}

.card{
border-radius:18px !important;
border:1px solid #dbc5d1;
margin-bottom:18px;
overflow:hidden;
}

.card-header{
padding:0;
border:none;
background:#fff;
}

.btn-link{
width:100%;
padding:18px;
color:#866f7d;
text-decoration:none;
}

.btn-link:hover{
text-decoration:none;
color: white;
background-color: #FFC1DA;
}

.card-body{
background:#fcf8fa;
line-height:2;
}
.ngan_hang{
  width: 100px;
}

.footer-space{
height:60px;
}



/* Hiệu ứng cuộn màn hình------------------------------------------------------ */
.section {
  opacity: 0;
  transform: translateY(40px);
  transition: all 0.8s ease;
}

/* khi hiện ra */
.section.show {
  opacity: 1;
  transform: translateY(0);
}


